.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .message{
    display: none;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  .video-background video {
    min-width: 100%;
    min-height: 100%;
  }
  .login-page.login .login-form-container {
    width: 350px;
    max-width: 400px;
  }
  .login-form-container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    font-size: 16px;
    border:none;
    outline: none;
    /* transition: all 0.3s ease; */
  }  
  button {
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff !important;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .logo-container img{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background: none;
  }
  .login-form .form-group{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .login-form .form-group input:hover{
    border: none;
    outline: none;
  }
  .login-form .form-group input:focus-visible{
    border: none;
    outline: none;
  }
  .dont_have_account{
    text-align: center;
  }
  .dont_have_account button{
    border: none;
    outline: none;
  }
  .register_btn_login a{
    color: white !important;
  }
  .login-page.register input{
    margin-inline: 10px;
  }
  .login-page.register label,.login-page.register span{
    margin-inline: 10px;
  }